button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-weight: bold;
  font-size: 3rem;
  cursor: pointer;
}
button:hover {
  background-color: hsl(0, 0%, 40%);
}
button:active {
  background-color: hsl(0, 0%, 50%);
}
.opterator-btn {
  background-color: hsl(35, 100%, 55%);
}
.opterator-btn:hover {
  background-color: hsl(35, 100%, 65%);
}
.opterator-btn:active {
  background-color: hsl(35, 100%, 75%);
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
#calcultor {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 15%);
  max-width: 500px;
  overflow: hidden;
  border-radius: 20px;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  border: none;
  text-align: left;
  background-color: hsl(0, 0%, 20%);
  color: white;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.opter{
    background:pink;
    color: black;
}